In [5]:
#1. Write a program to reverse a string.
s = "asdfghai"
s[::-1]

'hgfdsa'

In [9]:
#2. Check if a string is a palindrome.
p = "madam"
if p == p[::-1]:
    print("is palindrome")
else:
    print("not a palindrome")

is palindrome

In [11]:
# 3. Convert a string to uppercase
print(s.upper())

# 4. Convert a string to lowercase
print(s.lower())

ASDFGH
asdfgh

In [22]:
#5. Count the number of vowels in a string.
word = "abcdefghijklmnopqrstuvwxyz"
v = "aeiouAEIOU"
count = 0
for i in word:
    if i in v:
        count +=1
print(count)

5

In [28]:
#6. Count the number of consonants in a string.
v = "aeiouAEIOU"
count = 0
for i in word:
    if i not in v:
        count +=1
print(count)

21

In [34]:
#7. Remove all whitespaces from a string
s1 = "hello my name is rohan "
print(s1.replace(" ", ""))

hellomynameisrohan

In [36]:
#8.Find the length of a string without using len()
count = 0
for i in s1:
    count += 1
print(count)

23

In [44]:
#9. Check if a string contains a specific word
b = "asdfhd adfworldadf"
print("world" in s)

True

In [48]:
#10. Replace a word in a string with another word
print(b.replace("world", "Python"))

asdfhd adfPythonadf

In [52]:
#11. Count the occurrences of a word in a string
print(b.count("hello"))

0

In [54]:
#12. Find the first occurrence of a word in a string
print(b.find("world"))

#13. Find the last occurrence of a word in a string
print(b.rfind("l"))

10
13

In [58]:
#14. Split a string into a list of words
print(b.split())

# 15. Join a list of words into a string
w = ["hello", "world"]
print(" ".join(w))

# 16. Convert words separated by spaces to underscores
print(b.replace(" ", "_"))

['asdfhd', 'adfworldadf']
hello world
asdfhd_adfworldadf

In [3]:
b = "asdfhd adfworldadf"
#17. Check if a string starts with a specific word
print(b.startswith("a"))
#18. Check if a string ends with a specific word
print(b.endswith("z"))

True
False

In [5]:
#19. Convert to title case
print(b.title())

Asdfhd Adfworldadf

In [7]:
#20. Find the longest word in a string
print(max(b.split(),key=len))

adfworldadf

In [9]:
#21. Find the shortest word in a string
print(min(b.split(), key=len))

asdfhd

In [11]:
#22. Reverse the order of words in a string

word = "hello"
reversed_word = word[::-1]
print(reversed_word)

olleh

In [68]:
word = "hello7890"
if word.isalnum():
    print("string is alphanumeric.")
else:
    print("string is not alphanumeric.")

string is alphanumeric.

In [76]:
#24. Extract all digits from a string.
word = "hello7890"
v = "1234567890"
new = ""
for i in word:
    if i in v:
        new +=i
print(new)

7890

In [2]:
#25. Extract all alphabets from a string.
s = "abc123!@#XYZ"
alphabets = ""
for char in s:
    if char.isalpha():
        alphabets += char
print(alphabets)

abcXYZ

In [4]:
#26. Count the number of uppercase letters in a string.
s = "sfkgmfvmf gspgopsdk"
count = 0
for char in s:
    if char.isupper():
        count += 1
print(count)

0

In [6]:
#27. Count the number of lowercase letters in a string.
s = "heeello WORLD"
count = 0
for char in s:
    if char.islower():
        count += 1
print(count)

7

In [8]:
#28. Swap the case of each character in a string.
s = "Hello world"
swapped = s.swapcase()
print(swapped)

hELLO WORLD

In [12]:
#29. Remove a specific word from a string.
s = "asdbfadf djfjh dAjdf"
wordToRemove = "a"
result = s.replace(wordToRemove, "")
print(result.strip())

sdbfdf djfjh dAjdf

In [14]:
# 30. Check if a string is a valid email address
import re
s = "test@example.com"
print(bool(re.match(r"^[\w\.-]+@[\w\.-]+\.\w+$", s)))

True

In [16]:
# 31. Extract the username from an email address
print(s.split("@")[0])

test

In [18]:
# 32. Extract the domain name from an email address
print(s.split("@")[1])

example.com

In [20]:
# 33. Replace multiple spaces with a single space
s = "hello     world"
print(" ".join(s.split()))

hello world

In [22]:
# 34. Check if a string is a valid URL
s = "https://www.google.com"
print(bool(re.match(r"^https?://[^\s]+$", s)))

True

In [24]:
# 35. Extract the protocol from a URL
print(s.split("://")[0])

https

In [26]:
# 36. Find the frequency of each character
from collections import Counter
print(dict(Counter("hello")))

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [28]:
# 37. Remove all punctuation
import string
s = "Hello, world!"
print("".join(c for c in s if c not in string.punctuation))

Hello world

In [30]:
# 38. Check if a string contains only digits
s = "12345"
print(s.isdigit())

True

In [32]:
# 39. Check if a string contains only alphabets
s = "abcde"
print(s.isalpha())

True

In [34]:
# 40. Convert a string to a list of characters
print(list(s))

['a', 'b', 'c', 'd', 'e']

In [36]:
# 41. Check if two strings are anagrams
a, b = "listen", "silent"
print(sorted(a) == sorted(b))

True

In [38]:
# 42. Encode a string using Caesar cipher
s = "abc"
shift = 3
print("".join(chr((ord(c)-97+shift)%26 + 97) for c in s))

def

In [40]:
# 43. Decode a Caesar cipher encoded string
encoded = "asdf"
shift = 3
decoded = ""
for char in encoded:
    new_char = chr((ord(char) - 97 - shift) % 26 + 97)
    decoded += new_char

print(decoded)

xpac

In [42]:
# 44. Find the most frequent word in a string
s = "apple banana apple orange banana apple"
words = s.split()
print(max(set(words), key=words.count))

apple

In [44]:
# 45. Find all unique words in a string
print(set(s.split()))

{'banana', 'apple', 'orange'}

In [46]:
# 46. Count the number of syllables (rough estimate: count vowels)
print(sum(1 for c in s if c in "aeiouAEIOU"))

15

In [48]:
# 47. Check if a string contains any special characters
s = "hello@world"
print(any(not c.isalnum() and not c.isspace() for c in s))

True

In [50]:
# 48. Remove the nth word from a string
s = "one two three four"
n = 2
words = s.split()
words.pop(n)
print(" ".join(words))

one two four

In [435]:
# 49. Insert a word at the nth position
s = "one two three"
n = 1
word = "inserted"
words = s.split()
words.insert(n, word)
print(" ".join(words))

one inserted two three

In [ ]:
#50 converting csv_string into lists of list
csv_str = "Name,Age,City\nAlice,30,New York\nBob,25,London"
rows = csv_str.split('\n')
result = []
for row in rows:
    result += [row.split(',')]
print(result)

In [437]:
##list
# 1. Create a list with integers from 1 to 10.
# 2. Find the length of a list without using the `len()` function.
# 3. Append an element to the end of a list.
# 4. Insert an element at a specific index in a list.
# 5. Remove an element from a list by its value.
# 6. Remove an element from a list by its index.
# 7. Check if an element exists in a list.
# 8. Find the index of the first occurrence of an element in a list.
# 9. Count the occurrences of an element in a list.
# 10. Reverse the order of elements in a list.
# 11. Sort a list in ascending order.
# 12. Sort a list in descending order.
# 13. Create a list of even numbers from 1 to 20.
# 14. Create a list of odd numbers from 1 to 20.
# 15. Find the sum of all elements in a list.
# 16. Find the maximum value in a list.
# 17. Find the minimum value in a list.
# 18. Create a list of squares of numbers from 1 to 10.
# 19. Create a list of random numbers.
# 20. Remove duplicates from a list.
# 21. Find the common elements between two lists.
# 22. Find the difference between two lists.
# 23. Merge two lists.
# 24. Multiply all elements in a list by 2.
# 25. Filter out all even numbers from a list.
# 26. Convert a list of strings to a list of integers.
# 27. Convert a list of integers to a list of strings.
# 28. Flatten a nested list.
# 29. Create a list of the first 10 Fibonacci numbers.
# 30. Check if a list is sorted.
# 31. Rotate a list to the left by `n` positions.
# 32. Rotate a list to the right by `n` positions.
# 33. Create a list of prime numbers up to 50.
# 34. Split a list into chunks of size `n`.
# 35. Find the second largest number in a list.
# 36. Replace every element in a list with its square.
# 37. Convert a list to a dictionary where list elements become keys and their
# indices become values.
# 38. Shuffle the elements of a list randomly.
# 39. Create a list of the first 10 factorial numbers.
# 40. Check if two lists have at least one element in common.
# 41. Remove all elements from a list.
# 42. Replace negative numbers in a list with 0.
# 43. Convert a string into a list of words.
# 44. Convert a list of words into a string.
# 45. Create a list of the first `n` powers of 2.
# 46. Find the longest string in a list of strings.
# 47. Find the shortest string in a list of strings.
# 48. Create a list of the first `n` triangular numbers.
# 49. Check if a list contains another list as a subsequence.
# 50. Swap two elements in a list by their indices.

In [ ]:
l=list(range(1,11))
l

In [86]:
l=[1, 2, 3, 4, 5, 6, 7, 8,'rohan']
count=0
for i in l:
    if i !="":
        count+=1
print(count)

9

In [88]:
l.append(4)
l

[1, 2, 3, 4, 5, 6, 7, 8, 'rohan', 4]

In [90]:
l.insert(3,'negi') # uses index for place to insert value
l

[1, 2, 3, 'negi', 4, 5, 6, 7, 8, 'rohan', 4]

In [94]:
l.remove(4)
l

[1, 2, 3, 'negi', 5, 6, 7, 8, 'rohan']

In [96]:
e=1
if e in l:
    print("exists in list")
else:
    print("not exist")

exists in list

In [100]:
l.count(5)

1

In [102]:
l[::-1]

['rohan', 8, 7, 6, 5, 'negi', 3, 2, 1]

In [106]:
l1=[1,3,4,2,57,9,6]
l1.sort()
l1

[1, 2, 3, 4, 6, 9, 57]

In [110]:
l1.sort(reverse=True)
l1

[57, 9, 6, 4, 3, 2, 1]

In [128]:
x= [j for j in range(1,21) if j%2==0]
x

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [130]:
y= [i for i in range(1,21) if i%2!=0]
y

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [134]:
sum(y)
max(y)
min(y)

1

In [136]:
l = range(1,11)
x=[i**2 for i in l]
print(x)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
l2=[]
for i in l:
    if i not in l2:
        l2.append(i)
print(l2)

In [140]:
l1=[2,4,6,8]
l2=[1,3,2]
l3=[]
for i in l1:
    for j in l2:
        if i==j:
            l3.append(i)
print(l3)

[2]

In [142]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]

diff = list(set(list1) ^ set(list2))
print(diff)

[1, 2, 5, 6]

In [ ]:
l1=[2,4,6,8,1,9]
l2=[1,3,5,7,9,11]
print(l1+l2)

In [ ]:
print(l1*2)

In [ ]:
l1=[2,4,6,8,1,9]
l2=[]
for i in l1:
    if i%2==0:
        l2.append(i)
print(l2)

In [148]:
l1=['1','2','3']
l2=[int(i) for i in l1]
print(l2)

[1, 2, 3]

In [150]:
l1=[1, 1, 4, 87]
l2=[str(i) for i in l1]
print(l2)

['1', '1', '4', '87']

In [154]:
l=[[1,2],[3,4]]
l2=[]
for i in l:
    for j in i:
        l2.append(int(j))
print(l2)

[1, 2, 3, 4]

In [ ]:
l=[]
for i in range(11):
    if i == 0 or i==1:
        l.append(i)
    else:
        l.append(l[i-1]+l[i-2])
print(l)

In [156]:
l=[2,7,8,0]
a=sorted(l)
if l == a:
    print('sorted')
else:
    print('not sorted')

not sorted

In [158]:
l=[0, 2,3,4,5,6,7,8,9,99]
k=2
l[k:]+l[:k]

[3, 4, 5, 6, 7, 8, 9, 99, 0, 2]

In [162]:
l=[]
for i in range(2,50):
    count=0
    for j in range(2,25):
        if i%j==0:
            count+=1
    if count == 1:
        l.append(i)
print(l)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 25, 49]

In [ ]:
l=[13, 21, 34, 55, 0, 1, 1, 2, 3, 5, 8,9,0]
n=3
l1=[]
for i in range(0,len(l),n):
    l1.append(l[i:i+n])
print(l1)

In [ ]:
l=[13, 21, 34, 55, 0, 1, 1, 2, 3, 5, 8,9,0]
l.sort(reverse=True)
l[1]

In [ ]:
l=[13, 21, 34, 55, 0, 1, 1, 2, 3, 5, 8,9,0]
l1=[i**2 for i in l]
l1

In [166]:
l=['rohan','boy']
l2=[l.index(i) for i in l]
d=dict(zip(l,l2))
print(d)

{'rohan': 0, 'boy': 1}

In [170]:
s=set(l)
s

{'boy', 'rohan'}

In [172]:
l=[]
n=10
for i in range(0,n+1):
    if i<=1:
        l.append(i)
    else:
        i=i*(l[i-1])
        l.append(i)
print(l)

[0, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [174]:
list1 = [1, 2, 3]
list2 = [4, 5, 3]

if set(list1) & set(list2):  
    print("Lists have at least one element in common.")
else:
    print("No common elements.")

Lists have at least one element in common.

In [ ]:
l=[1,2,3,4]
l.clear()
l

In [178]:
l=[1,2,3,-4,-4,56,6]
for i in range(len(l)):
    if l[i] < 0:
        l[i]=0
print(l)

[1, 2, 3, 0, 0, 56, 6]

In [ ]:
s="hello"
l=list(s)
l

In [ ]:
l=['h', 'e', 'l', 'l', 'o']
s=""
for i in l:
    s+=i
print(s)

In [202]:
l=['kratos','devhub','rohan']
x= max(l, key=len)
x

'kratos'

In [204]:
y = min(l,key=len)
y

'rohan'

In [439]:
a = [10, 20, 30, 40, 50]
i = 1  
j = 4
temp = a[i]
a[i] = a[j]
a[j] = temp
print(a)

[10, 50, 30, 40, 20]

In [441]:
#tuple
# 1. Create a tuple with integers from 1 to 5.
# 2. Access the third element of a tuple.
# 3. Find the length of a tuple without using the `len()` function.
# 4. Count the occurrences of an element in a tuple.
# 5. Find the index of the first occurrence of an element in a tuple.
# 6. Check if an element exists in a tuple.
# 7. Convert a tuple to a list.
# 8. Convert a list to a tuple.
# 9. Unpack the elements of a tuple into variables.
# 10. Create a tuple of even numbers from 1 to 10.
# 11. Create a tuple of odd numbers from 1 to 10.
# 12. Concatenate two tuples.
# 13. Repeat a tuple three times.
# 14. Check if a tuple is empty.
# 15. Create a nested tuple.
# 16. Access the first element of a nested tuple.
# 17. Create a tuple with a single element.
# 18. Compare two tuples.
# 19. Delete a tuple.
# 20. Slice a tuple.
# 21. Find the maximum value in a tuple.
# 22. Find the minimum value in a tuple.
# 23. Convert a string to a tuple of characters.
# 24. Convert a tuple of characters to a string.
# 25. Create a tuple from multiple data types.
# 26. Check if two tuples are identical.
# 27. Sort the elements of a tuple.
# 28. Convert a tuple of integers to a tuple of strings.
# 29. Convert a tuple of strings to a tuple of integers.
# 30. Merge two tuples.
# 31. Flatten a nested tuple.
# 32. Create a tuple of the first 5 prime numbers.
# 33. Check if a tuple is a palindrome.
# 34. Create a tuple of squares of numbers from 1 to 5.
# 35. Filter out all even numbers from a tuple.
# 36. Multiply all elements in a tuple by 2.
# 37. Create a tuple of random numbers.
# 38. Check if a tuple is sorted.
# 39. Rotate a tuple to the left by `n` positions.
# 40. Rotate a tuple to the right by `n` positions.
# 41. Create a tuple of the first 5 Fibonacci numbers.
# 42. Create a tuple from user input.
# 43. Swap two elements in a tuple.
# 44. Reverse the elements of a tuple.
# 45. Create a tuple of the first `n` powers of 2.
# 46. Find the longest string in a tuple of strings.
# 47. Find the shortest string in a tuple of strings.
# 48. Create a tuple of the first `n` triangular numbers.
# 49. Check if a tuple contains another tuple as a subsequence.
# 50. Create a tuple of alternating 1s and 0s of length `n`.

In [443]:
a = tuple(range(1,6))
print(a)

(1, 2, 3, 4, 5)

In [445]:
a[2]

3

In [446]:
count=0

for i in a:
    count+=1
print(count)

5

In [447]:
a.count(5)

1

In [448]:
a.index(5)

4

In [ ]:
n= int(input("enter the num you want to find: "))
if n in a:
    print( "num present in tuple")
else:
    print("num not present")

In [ ]:
list(a)

In [ ]:
li = [1,23,45,6,7]
tuple(li)

In [ ]:
a,b,c,d,e = li
a

In [ ]:
even_numbers = tuple(i for i in range(1, 11) if i % 2 == 0)
print(even_numbers)

In [ ]:
even_numbers = tuple(i for i in range(1, 11) if i % 2 != 0)
print(even_numbers)

In [ ]:
t1 = (1,2,3,4)
t2 = (1,2,5,7)
t1+t2

In [ ]:
t1*3

In [ ]:
if not t1 :
    print("tuple is empty")

In [ ]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (4, 12423563456))
print(nested_tuple)

In [ ]:
first_value = nested_tuple[0][0]
print(first_value)

In [ ]:
single = (5)
print(single)

In [ ]:
t1 = (1,23,45,6)
t2 = (12,4,45,6)
t1==t2

In [ ]:
my_tuple = (1, 2, 3)
del my_tuple

In [ ]:
my_tuple = (10, 20, 30, 40, 50)
sliced_tuple = my_tuple[1:4]  
print(sliced_tuple)

In [ ]:
sliced_tuple = my_tuple[-3:-1]  
print(sliced_tuple)

In [ ]:
my_tuple = (10, 20, 30, 40, 50)
max_value = max(my_tuple)
print(max_value)

In [ ]:
my_tuple = (10, 20, 30, 40, 50)
min_value = min(my_tuple)
print(min_value)

In [ ]:
my_string = "hello"
my_tuple = tuple(my_string)
print(my_tuple)

In [ ]:
my_tuple = ('h', 'e', 'l', 'l', 'o')
my_string = ''.join(my_tuple)
print(my_string)

In [ ]:
my_tuple = (1, "a", 1.3445, True)
print(my_tuple)

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

print(tuple1 == tuple2)

In [ ]:
my_tuple = (30, 10, 20)
sorted_tuple = tuple(sorted(my_tuple))
print(sorted_tuple)

In [ ]:
my_tuple = (1, 2, 3, 4)
string_tuple = tuple(str(i) for i in my_tuple)
print(string_tuple)

In [ ]:
my_tuple = ('1', '2', '3', '4')
int_tuple = tuple(int(i) for i in my_tuple)
print(int_tuple)

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 5, 6)
merged_tuple = tuple1 + tuple2
print(merged_tuple)

In [ ]:
a = ((1, 2), (3, 4))

b = ()
for c in a:
    if isinstance(c, tuple):
        for d in c:
            if isinstance(d, tuple):
                for e in d:
                    b += (e,)
            else:
                b += (d,)
    else:
        b += (c,)

print(b)

In [ ]:
prime_tuple = (2, 3, 5, 7, 11)
print(prime_tuple)

In [ ]:
my_tuple = (1, 2, 3, 2, 1)
my_tuple == my_tuple[::-1]

In [ ]:
numbers = (1, 2, 3, 4, 5)
squares_tuple = ()
for i in numbers:
    squares_tuple += (i ** 2,)
print(squares_tuple)

In [ ]:
my_tuple = (1, 2, 3, 4, 5, 6)
odd_tuple = ()
for i in my_tuple:
    if i % 2 != 0:
        odd_tuple += (i,)
print(odd_tuple)

In [ ]:
my_tuple = (1, 2, 3, 4)
multiplied_tuple = ()
for i in my_tuple:
    multiplied_tuple += (i * 2,)
print(multiplied_tuple)

In [ ]:
import random
random_tuple = ()
for _ in range(5):
    random_tuple += (random.randint(1, 10),)
print(random_tuple)

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
is_sorted = my_tuple == tuple(sorted(my_tuple))
print(is_sorted)

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = my_tuple[n:] + my_tuple[:n]
print(rotated_tuple)

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = my_tuple[-n:] + my_tuple[:-n]
print(rotated_tuple)

In [ ]:
fibonacci_tuple = (0, 1, 1, 2, 3)
print(fibonacci_tuple)

In [ ]:
a = input("Enter values separated by space: ")
i = tuple(a.split())
print(i)

In [ ]:
a = (1, 2, 3, 4, 5)
x, y = 1, 3

b = list(a)
b[x], b[y] = b[y], b[x]
c = tuple(b)
print(c)

In [ ]:
a = (1, 2, 3, 4, 5)
b = a[::-1]
print(b)

In [ ]:
n = 5
a = tuple(2**i for i in range(n))
print(a)

In [ ]:
a = ("rohan", "yash", "punni", "rishabh")
b = max(a, key=len)
print(b)

In [ ]:
a = ("rohan", "yash", "punni", "rishu","pajji")
b = min(a, key=len)
print(b)

In [ ]:
n = 5
a = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print(a)

In [ ]:
a = (1, 2, 3, 4, 5)
b = (2, 3)

c = all(x in a for x in b)
print(c)

In [ ]:
n = 6
a = tuple(1 if i % 2 == 0 else 0 for i in range(n))
print(a)

In [ ]:
#set
# 1. Create a set with integers from 1 to 5.
# 2. Add an element to a set.
# 3. Remove an element from a set.
# 4. Check if an element exists in a set.
# 5. Find the length of a set without using the `len()` function.
# 6. Clear all elements from a set.
# 7. Create a set of even numbers from 1 to 10.
# 8. Create a set of odd numbers from 1 to 10.
# 9. Find the union of two sets.
# 10. Find the intersection of two sets.
# 11. Find the difference between two sets.
# 12. Check if a set is a subset of another set.
# 13. Check if a set is a superset of another set.
# 14. Create a set from a list.
# 15. Convert a set to a list.
# 16. Remove a random element from a set.
# 17. Pop an element from a set.
# 18. Check if two sets have no elements in common.
# 19. Find the symmetric difference between two sets.
# 20. Update a set with elements from another set.
# 21. Create a set of the first 5 prime numbers.
# 22. Check if two sets are identical.
# 23. Create a frozen set.
# 24. Check if a set is disjoint with another set.
# 25. Create a set of squares of numbers from 1 to 5.
# 26. Filter out all even numbers from a set.
# 27. Multiply all elements in a set by 2.
# 28. Create a set of random numbers.
# 29. Check if a set is empty.
# 30. Create a nested set (hint: use frozenset).
# 31. Remove an element from a set using the discard method.
# 32. Compare two sets.
# 33. Create a set from a string.
# 34. Convert a set of strings to a set of integers.
# 35. Convert a set of integers to a set of strings.
# 36. Create a set from a tuple.
# 37. Convert a set to a tuple.
# 38. Find the maximum value in a set.
# 39. Find the minimum value in a set.
# 40. Create a set from user input.
# 41. Check if the intersection of two sets is empty.
# 42. Create a set of the first 5 Fibonacci numbers.
# 43. Remove duplicates from a list using sets.
# 44. Check if two sets have the same elements, regardless of their count.
# 45. Create a set of the first `n` powers of 2.
# 46. Find the common elements between a set and a list.
# 47. Create a set of the first `n` triangular numbers.
# 48. Check if a set contains another set as a subset.
# 49. Create a set of alternating 1s and 0s of length `n`.
# 50. Merge multiple sets into one.

In [ ]:
a = {1,2,3,4,5}
type(a)

In [ ]:
a = {1, 2, 3, 4, 5}
a.add(6)
print(a)

In [ ]:
a = {1, 2, 3, 4, 5}
a.remove(3)
print(a)

In [ ]:
a = {1, 2, 3, 4, 5}
b = 1
print(b in a)

In [ ]:
a = {1, 2, 3, 4, 5}
b = sum(1 for i in a)
print(b)

In [ ]:
a = {1, 2, 3, 4, 5}
a.clear()
print(a)

In [ ]:
a = {2, 4, 6, 8, 10}
print(a)

In [ ]:
a = {1, 3, 5, 7, 9}
print(a)

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}
c = a | b
print(c)

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}
c = a & b
print(c)

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}
c = a - b
print(c)

In [ ]:
a = {1, 2, 3}
b = {1, 2, 3, 4, 5}
c = a.issubset(b)
print(c)

In [ ]:
a = {1, 2, 3, 4, 5}
b = {1, 2, 3}
c = a.issuperset(b)
print(c)

In [ ]:
a = [1, 2, 3, 4, 5]
b = set(a)
print(b)

In [ ]:
a = {1, 2, 3, 4, 5}
b = list(a)
print(b)

In [ ]:
a = {1, 2, 3, 4, 5}
b = a.pop()
print(b)

In [ ]:
a = {1, 2, 3, 4, 5}
b = a.pop()
print(b)

In [ ]:
a = {1, 2, 3}
b = {4, 5, 6}
c = a.isdisjoint(b)
print(c)

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}
c = a ^ b
print(c)

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}
a.update(b)
print(a)

In [ ]:
a = {2, 3, 5, 7, 11}
print(a)

In [ ]:
a = {1, 2, 3}
b = {1, 2, 3}
c = a == b
print(c)

In [ ]:
a = frozenset([1, 2, 3, 4, 5])
print(a)

In [ ]:
a = {1, 2, 3}
b = {4, 5, 6}
c = a.isdisjoint(b)
print(c)

In [ ]:
a = {1, 4, 9, 16, 25}
print(a)

In [ ]:
a = {1, 2, 3, 4, 5, 6}
b = {x for x in a if x % 2 != 0}
print(b)

In [ ]:
a = {1, 2, 3, 4, 5}
b = {x * 2 for x in a}
print(b)

In [ ]:
import random
a = {random.randint(1, 10) for _ in range(5)}
print(a)

In [ ]:
a = set()
print(not a)

In [ ]:
a = frozenset({1, 2, 3})
b = frozenset({4, 5, 6})
c = {a, b}
print(c)

In [ ]:
s = {1, 2, 3}
s.discard(2)
print(s)

In [ ]:
a = {1, 2, 3}
b = {3, 2, 1}
f = True
for i in a:
    if i not in b:
        f = False
for i in b:
    if i not in a:
        f = False
print(f)

In [ ]:
s = "hello"
a = set()
for i in s:
    a.add(i)
print(a)

In [ ]:
s = {"1", "2", "3"}
a = set()
for i in s:
    a.add(int(i))
print(a)

In [ ]:
s = {"1", "2", "3"}
a = set()
for i in s:
    a.add(int(i))
print(a)

In [ ]:
s = {1, 2, 3}
a = set()
for i in s:
    a.add(str(i))
print(a)

In [ ]:
t = (1, 2, 3)
s = set()
for i in t:
    s.add(i)
print(s)

In [411]:
s = {1, 2, 3}
t = ()
for i in s:
    t += (i,)
print(t)

(1, 2, 3)

In [413]:
s = {3, 7, 2}
for i in s:
    m = i
    break
for i in s:
    if i > m:
        m = i
print(m)

7

In [415]:
a = {1, 2}
b = {3, 4}
f = True
for i in a:
    if i in b:
        f = False
print(f)

True

In [417]:
a, b, s, c = 0, 1, set(), 0
while c < 5:
    s.add(a)
    a, b = b, a + b
    c += 1
print(s)

{0, 1, 2, 3}

In [419]:
l = [1, 2, 2, 3, 1]
s = set()
for i in l:
    s.add(i)
print(s)

{1, 2, 3}

In [421]:
a = {1, 2}
b = {2, 1}
f = True
for i in a:
    if i not in b:
        f = False
for i in b:
    if i not in a:
        f = False
print(f)

True

In [423]:
n = 5
s = set()
p = 1
for i in range(n):
    s.add(p)
    p = p * 2
print(s)

{1, 2, 4, 8, 16}

In [425]:
s = {1, 2, 3}
l = [2, 3, 4]
c = set()
for i in l:
    if i in s:
        c.add(i)
print(c)

{2, 3}

In [427]:
n = 5
s = set()
x = 1
for i in range(1, n + 1):
    x = i * (i + 1) // 2
    s.add(x)
print(s)

{1, 3, 6, 10, 15}

In [429]:
a = {1, 2, 3, 4}
b = {2, 3}
f = True
for i in b:
    if i not in a:
        f = False
print(f)

True

In [431]:
n = 6
s = set()
for i in range(n):
    if i % 2 == 0:
        s.add(1)
    else:
        s.add(0)
print(s)

{0, 1}

In [433]:
a = {1, 2}
b = {3, 4}
c = {2, 5}
d = set()
for i in a:
    d.add(i)
for i in b:
    d.add(i)
for i in c:
    d.add(i)
print(d)

{1, 2, 3, 4, 5}